<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exhibition Reports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Include Header -->
<th:block th:replace="~{header}"></th:block>
<div class="container mt-5">
    <h2>Exhibition Reports</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" th:each="report : ${reports}">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title" th:text="${report.event.title +'  '+ report.event.getStartDate() + ' - ' + report.event.getEndDate() }">Exhibition Title</h5>
                </div>
                <div class="card-body">
                    <p class="card-text" th:each="entry : ${report.data.entrySet()}"
                       th:text="${#strings.contains(entry.value, 'Stand ') ? #strings.substringBefore(entry.value, 'Stand ') : entry.value}">Report Details</p>


                    <td>
                        <ul class="list-group list-group-flush">
                            <p>Stands:</p>
                            <li class="list-group-item" th:each="entry : ${report.data.entrySet()}" th:text="${#strings.substringAfter(entry.value, 'Stand ')}">
                            </li>
                        </ul>
                    </td>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
